@if(todo) {
<div class="d-flex flex-column mb-5 justify-content-center text-center">
  <h2 class="text-danger">ToDo details</h2>
  <h3>Task Title : {{ todo.title }}</h3>
  <h4>Task Completed : {{ todo.completed }}</h4>
</div>

<div class="container rounded w-50 border border-success p-3">
  <div>
    <form id="contactForm" (ngSubmit)="updateToDo()" #form1="ngForm">
      <div class="mb-3 d-flex">
        <label for="title" class="form-control w-25 fw-bold">
          Task Title:
        </label>
        <input
          type="text"
          placeholder="Todo Title"
          id="title1"
          class="w-25 mx-1 form-control"
          [(ngModel)]="todo.title"
          required
          name="title1"
          #input1="ngModel"
          [ngClass]="{
            'is-invalid': (input1.touched || input1.dirty) && input1.invalid
          }"
        />
      </div>

      <div class="mb-3 d-flex">
        <label for="completed" class="form-control w-25 mx-0 fw-bold">
          Task Completed:
        </label>
        <input
          type="checkbox"
          [(ngModel)]="todo.completed"
          id="completed"
          class="form-check w-25 mx-1"
          name="completed"
        />
      </div>
      <div>
        <button
          [disabled]="form1.invalid"
          class="btn btn-success btn-lg w-25"
          id="submitButton"
          type="submit"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
<!-- <h5>{{ input1?.errors | json }}</h5> -->
}
